fastapi
uvicorn
streamlit
requests

langchain>=0.2.6
langchain-core>=0.2.6
langchain-community
langchain-openai
langchain-groq
langchain-chroma
langchain-huggingface

chromadb>=0.5.0
pypdf
docx2txt

unstructured
unstructured[html]
beautifulsoup4
lxml
einops
python-multipart
python-dotenv
sentence-transformers

